body{
    margin: 0;
    font-family: 'Prompt', sans-serif;
    color: white;
    background-color: grey;
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
