body{
    background-color: #ffffff;
}
.box{
    height:1000px;
    width: 300px;
    background-color: rgb(100, 99, 99);
    float:left;
}
.center{
    margin:auto;
    text-align: center;
    color:rgb(0, 0, 0);
    block-size: 400px;
    float: 2;
} 
#first{
    color:blue;
}
#second{
    color: #ff0062;
}
footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    clear:both;
    display: inline-block;
}
h3{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
il{
    list-style: none;
}